body {
	margin: 0;
	padding: 0;
	background-color: #12353E;
}

.btn-primary {
    color: #fff;
    background-color: #24cfd8;
    border-color: #ccc;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1c989f;
    border-color: #12353E;
}

canvas {
	margin-top: 48px;
  	vertical-align: top;
  	display:inline-block;
}

.slider {
	color: #ffffff;
	font-size: 20px;
}

/*****************
	home page  
*****************/

.container {
	margin: 0;
	padding: 0;
  	position: fixed;
  	width: 1119px;
  	height: 100%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

#overlay {
	width: 100%;
  	height: 100%;
  	justify-content: center;
	background-color: #12353E;
  	font-size: 2em;
  	color: white;
}

#logo {
	margin-top: 5%;
}

#rick {
	height: 40%;
	margin-left: -5%;
	margin-top: -10%;
	display: inline-block;
}

#morty {
	height: 60%;
	margin-left: 5%;
	display: inline-block;
	padding-top: 20px; 
}

#morty-says {
	display: inline-block;
	background: #24cfd8; 
	border-radius: .4em; 
	width: 260px;
	padding: 60px 20px;
	margin-left: 30px;
	margin-top: 30px;
	text-align: center;
}

#morty-says::after { 
	content: ''; 
	position: absolute; 
	right: 0; 
	left: 550px;
	top: 50%; 
	width: 0; 
	height: 0; 
	border: 54px solid transparent; 
	border-left-color: #24cfd8; 
	border-right: 0; 
	border-bottom: 0; 
	margin-top: -26.5px; 
	margin-right: -53px;
}

.intro-text {
  	color: white;
  	display: inline-block;
  	margin-top: 50px;
}

.flash { 
	color: #66ccff;
	-webkit-animation-name: flashanim; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
    -webkit-animation-timing: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
     animation-name: flashanim;
    animation-duration: .5s;
    animation-timing: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flashanim {
    0% {	color: #66ccff;}   
    100% {	color: #ffffff;}
   }

.speech-bubble {
	display: inline-block;
	background: #24cfd8; 
	border-radius: .4em; 
	width: 260px;
	padding: 60px 20px;
	margin-left: 30px;
	margin-top: 30px;
	text-align: center;
} 

.speech-bubble::after { 
	content: ''; 
	position: absolute; 
	left: 525px; 
	top: 50%; 
	width: 0; 
	height: 0; 
	border: 53px solid transparent; 
	border-right-color: #24cfd8; 
	border-left: 0; 
	border-top: 0; 
	margin-top: -26.5px; 
	margin-left: -53px; 
}

#intro-buttons {
	margin-left: 15%;
}

#login {
	display: inline-block;
}


/*****************
	game canvas  
*****************/

#scoreBoard {
	color:  #ffffff;
}

/*****************
	sidebar menu 
*****************/

.modal-header {
    padding: 5px;
    border-bottom: none;
    background: #000000;
    color: #ffffff;
}

.modal-content {
	border-radius: 0px;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #24cfd8;
}

a {
    color: #1c989f;
    text-decoration: none;
}

#myTabDrop1 {
	color: #fff;
	background-color: #1c989f;
}

#logout {
	background-color: #eee;
}

.scores {
	padding-left: 30%;
}

#trophy {
	color: #24cfd8;
}

#flask {
	color: #1c989f;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    background: #000000;
    color: #fff;
}

.btn-github {
	color:#fff;
	background-color:#444;
	border-color:rgba(0,0,0,0.2);
}

.btn-github:focus,.btn-github.focus {
	color:#fff;
	background-color:#2b2b2b;
	border-color:rgba(0,0,0,0.2);
}

.btn-github:hover {
	color:#fff;
	background-color:#2b2b2b;
	border-color:rgba(0,0,0,0.2);
}

.modal.fade:not(.in).right .modal-dialog {
	-webkit-transform: translate3d(25%, 0, 0);
	transform: translate3d(25%, 0, 0);
}

.modal.right .modal-dialog {
	position:absolute;
	top:0;
	right:0;
	margin:0;
}

.modal.right .modal-content {
	min-height:100vh;
	border:0;
}





